<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="name">
      Name
    </label>
    <input formControlName="name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Name">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="email">
      Email
    </label>
    <input formControlName="email" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="nif">
      NIF
    </label>
    <input formControlName="nif" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nif" type="text" placeholder="NIF">
    <div *ngIf="myForm.controls['nif'].invalid && (myForm.controls['nif'].dirty || myForm.controls['nif'].touched)">
      <div *ngIf="myForm.controls['nif'].errors?.['maxlength']">
        Só é permitido 9 números.
      </div>
    </div>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="password">
      Password
    </label>
    <input formControlName="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password">
  </div>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" [disabled]="myForm.invalid">
    Submit
  </button>
</form>
